@media screen and (min-width: 1000px) {

    h2 {

        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    form {

        margin-top: 30vh;
        width: 40%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        color: #fff;
        border-radius: 20px;
    }

    input {

        margin-top: 1vh;
        margin-bottom: 3vh;
        width: 30%;
        height: 4vh;
        text-align: center;
        border: 1px solid #000;
        font-size: 1.5vw;
    }

    #btn-home {

        width: 20%;
        height: 4vh;
        margin-top: 2vh;
        background-color: rgb(50, 178, 50);
    }

    #btn-home:hover {

        cursor: pointer;
        background-color: rgb(60, 201, 60);
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    form {

        margin-top: 30vh;
        width: 100%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        color: #fff;
    }

    h2 {

        font-size: 4vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    input {

        margin-top: 1vh;
        margin-bottom: 5vh;
        width: 50%;
        height: 4vh;
        text-align: center;
        border: 1px solid #000;
        font-size: 4vw;
    }

    #btn-home {

        font-size: 3vw;
        width: 20%;
        height: 4vh;
        margin-top: 2vh;
        background-color: rgb(50, 178, 50);
    }

    #btn-home:hover {

        cursor: pointer;
        background-color: rgb(60, 201, 60);
    }
} 

@media screen and (min-width: 200px) and (max-width: 500px) {

    form {

        margin-top: 15vh;
        width: 100%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        color: #fff;
    }

    h2 {

        font-size: 5vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    input {

        margin-top: 1vh;
        margin-bottom: 4vh;
        width: 60%;
        height: 4vh;
        text-align: center;
        border: 1px solid #000;
        font-size: 6vw;
    }

    #btn-home {

        font-size: 4vw;
        width: 30%;
        height: 4vh;
        margin-top: 2vh;
        background-color: rgb(50, 178, 50);
    }

    #btn-home:hover {

        cursor: pointer;
        background-color: rgb(60, 201, 60);
    }
}