@media screen and (min-width: 1000px) {

    #multiplication {

        width: 20%;
        height: max-content;
        padding: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #000;
        margin-top: 20vh;
        border-radius: 20px;
    }

    .results {

        font-size: 1vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    #multiplication {

        width: 70%;
        height: max-content;
        padding-bottom: 2vh;
        padding: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 3px solid #000;
        margin-top: 7vh;
        border-radius: 20px;
    }

    .results {

        font-size: 3vw;
    }

}

@media screen and (min-width: 200px) and (max-width: 500px) {

    #multiplication {

        width: 70%;
        height: max-content;
        padding: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #000;
        margin-top: 7vh;
        border-radius: 20px;
    }

    .results {

        font-size: 4vw;
    }
}