#not-found {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#error-text {

    width: 80%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}