@media screen and (min-width: 1000px) {

    header {

        position: fixed;
        top: 0;
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #000;
        color: #fff;
        border-radius: 0px 0px 20px 20px;
    }

    img {

        display: none;
    }

    h1 {

        height: max-content;
        margin: 0;
    }

    nav {

        margin-top: 0;
        width: 70%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    a {
        width: 5%;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 1%;
        text-align: center;
    }

    a:hover {

        background-color: #fff;
        color: #000;
    }

}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    header {

        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        border-radius: 0px 0px 20px 20px;
    }

    #initial {

        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img {

        margin-left: 3vw;
        width: 7%;
        height: 60%;
    }

    h1 {

        width: max-content;
        text-align: center;
        margin-left: 32vw;
        height: max-content;
        font-size: 5vw;
    }

    nav {

        margin-top: 0;
        width: 70%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        display: none;
    }

    a {
        width: 5%;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 1%;
        text-align: center;
        
    }

    a:hover {

        background-color: #fff;
        color: #000;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {

    header {

        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        border-radius: 0px 0px 20px 20px;
    }

    #initial {

        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img {

        margin-left: 3vw;
        width: 10%;
        height: 70%;
    }

    h1 {

        width: max-content;
        text-align: center;
        margin-left: 30vw;
        height: max-content;
        font-size: 5vw;
    }

    nav {

        margin-top: 0;
        width: 70%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        display: none;
    }

    a {
        width: 5%;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 1%;
        text-align: center;
        
    }

    a:hover {

        background-color: #fff;
        color: #000;
    }
}