@media screen and (min-width: 1000px) {

    .hidden {

        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    .hidden {

        display: none;
    }

    .new-menu {

        width: 40vw;
        height: 100vh;
        background-color: gray;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    #close {

        margin-top: 3%;
        width: 20%;
        height: 5%;
    }

    .link-menu {

        width: 20vw; 
        height: 6vh;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        font-size: 4vw;
        border: 1px solid #000;
        color: #000;    
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {

    .hidden {

        display: none;
    }

    .new-menu {

        width: 50vw;
        height: 100vh;
        background-color: gray;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    #close {

        margin-top: 3%;
        width: 20%;
        height: 5%;
    }

    .link-menu {

        width: 20vw; 
        height: 6vh;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        font-size: 4vw;
        border: 1px solid #000;
        color: #000;    
        margin-left: auto;
        margin-right: auto;
    }
}
