body {

  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
